deb http://archive.ubuntu.com/ubuntu {{ _ubuntu_release }} main restricted universe
deb-src http://archive.ubuntu.com/ubuntu {{ _ubuntu_release }} main restricted universe

deb http://security.ubuntu.com/ubuntu {{ _ubuntu_release }}-security main restricted universe
deb-src http://security.ubuntu.com/ubuntu {{ _ubuntu_release }}-security main restricted universe

deb http://archive.ubuntu.com/ubuntu {{ _ubuntu_release }}-updates main restricted universe
deb-src http://archive.ubuntu.com/ubuntu {{ _ubuntu_release }}-updates main restricted universe
